@font-face {
    font-family: 'InstrumentSans';
    src: url(../font/InstrumentSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}
body,html{
    margin: 0;
    padding: 0;
    background-color: #e5e0dd;
}
.night{
    width: 100%;
    display: flex;
    justify-content: center;
}
.night_blokc{
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 30px;
}
.night_blokc img{
    width: 233px;
    height: fit-content;
}
.night_cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.night_cont a{
    font-family: 'Inter';
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    text-transform: capitalize;
}
.night_cont hr{
    border: 1px solid #000000;
    height: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
.play{
    width: 100%;
    display: flex;
    justify-content: center;
}
.play_blokc{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.play_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
}
.play_cont img{
    width: 100%;
    height: fit-content;
}
.play_cont a{
    background: #1B3848;
    box-shadow: 0px 0px 20px 0px #F06946;
    font-family: 'Inter';
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    color: #E4E0DD;
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.join{
    width: 100%;
    display: flex;
    justify-content: center;
}
.join_blokc{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.join_blokc h1{
    font-family: 'Inter';
    font-size: 200px;
    font-weight: 700;
    color: #1B3848;
    text-transform: uppercase;
    margin-bottom: 0;
}
.menu_abs{
    width: 285px;
    height: 299px;
    border: 2px solid #C24800;
    border-radius: 40px;
    background-color: #000000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 90px;
}
.menu_abs a{
    text-decoration: none;
    width: 190px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #fff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-top: 3px;
    margin-bottom: 3px;
}
.join_blokc p{
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    line-height: 150%;
    width: 80%;
}
.join_blokc hr{
    width: 100%;
    border: 2px solid #1B3848;
}
.join_cont{
    width: 100%;
    display: flex;
    justify-content: right;
}
.join_cont h5{
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    line-height: 150%;
    width: 81%;
    text-align: right;
}
.join_text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.join_text h2{
    font-family: 'Inter';
    font-size: 200px;
    font-weight: 700;
    color: #FF6F4A;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
.join_text h4{
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    line-height: 150%;
    width: 65%;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.end{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.end_blokc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.end_blokc a{
    font-family: 'Inter';
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    text-transform: capitalize;
    border-right: 1px solid #000000;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.end_cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.end_cont h5{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    color: #C24800;
}
.end_cont p{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    color: #C24800;
    text-decoration: underline;
    text-transform: capitalize;
    margin-left: 15px;
}
.night_blokc .mob{
    display: none;
}
.casino{
    width: 100%;
    display: flex;
    justify-content: center;
}
.casino_blokc{
    width: 95%;
    display: flex;
    justify-content: right;
    align-items: end;
    margin-top: 50px;
}
.casino_blokc img{
    width: 70%;
    height: fit-content;
}
.casino_cont{
    width: 35%;
    display: flex;
    margin-left: -150px;
    margin-bottom: 90px;
}
.casino_cont p{
    font-family: 'InstrumentSans';
    font-size: 15px;
    font-weight: 400;
    color: #000000;
}





.privacy{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.mini_privacy{
    display: flex;
    width: 90%;
    flex-direction: column;
}
.mini_privacy p{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Inter';
    color: black;
}
.mini_privacy h1{
    font-family: 'Inter';
    color: black;
}
.mini_privacy h2{
    font-family: 'Inter';
    font-size: 26px;
    color: black;
}
.mini_privacy h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Inter';
}
.mini_privacy ul li{
    font-size: 18px;
    font-family: 'Inter';
    color: black;
    line-height: 150%;
}

.gms_cont{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.gms_block{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gms_block h1{
    font-family: 'Inter';
    font-size: 96px;
    font-weight: 700;
    color: #1B3848;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}
.gms_line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 50px;
}
.gms{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.gms img{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.gms .playy{
    cursor: pointer;
    background: #1B3848;
    box-shadow: 0px 0px 20px 0px #F06946;
    font-family: 'Inter';
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    color: #E4E0DD;
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.gms p{
    width: 100%;
    font-family: 'Inter';
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #000;
    padding: 0;
    margin: 0;
    margin-top: 35px;
}
.full p{
    width: 100%;
}
.pop_iframe{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF66;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
}
iframe{
    width: 860px;
    height: 570px;
    border-radius: 20px;
 }
 
 #frame1{
     display: none;
 }
 #frame2{
    display: none;
}
#frame3{
    display: none;
}
#frame4{
    display: none;
}
#frame5{
    display: none;
}
#frame6{
    display: none;
}
#frame7{
    display: none;
}
#frame8{
    display: none;
}
#frame9{
    display: none;
}
@media screen and (max-width: 900px){
    .night_cont a{
        display: none;
    }
    .night_cont hr{
        display: none;
    }
    .play_blokc{
        flex-direction: column;
        align-items: center;
    }
    .play_cont{
        width: 100%;
    }
    .play_cont a{
        margin-bottom: 50px;
    }
    .join_blokc h1{
        font-size: 75px;
    }
    .join_blokc p{
        width: 100%;
    }
    .join_cont h5{
        width: 100%;
    }
    .join_text{
        flex-direction: column;
        align-items: center;
    }
    .join_text h2{
        font-size: 96px;
    }
    .join_text h4{
        width: 100%;
    }
    .end_blokc{
        flex-wrap: wrap;
        width: 80%;
    }
    .end_blokc a{
        font-size: 15px;
    }
    .night_blokc .mob{
        display: flex;
        width: 60px;
        height: fit-content;
    }
    .night_blokc{
        justify-content: space-between;
    }
    .casino_blokc{
        flex-direction: column;
        align-items: center;
    }
    .casino_cont p{
        font-size: 14px;
        margin-top: 0;
    }
    .casino_cont{
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }
    .casino_blokc{
        width: 90%;
    }
    .casino_blokc img{
        width: 100%;
    }
    body, html{
        background-color: #ffffff;
    }
    .gms_line{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .gms{
        margin-bottom: 35px;
        width: 100%;
    }
    .gms_block h1{
        font-size: 48px;
        line-height: 56px;
    }
}